*{
    margin: 0PX;
    font-family: Arial;
    border: border-box;
}
/* navbar section */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* box1 */
.nav-logo{
    height: 50px;
    width: 113px;
}
.logo{
    height: 50px;
    width: 113px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/019/017/542/non_2x/amazon-logo-free-png.png");
    background-position: center;
    background-size: cover;
}
.border{
    border: solid 1.5px transparent;
}
.border:hover{
    border: solid 1.5px white;
}
/* Box2 */
.add-first{
    color: #cccc;
    font-size: 0.85rem;
    padding-left: 15px;
}
.add-second{
    color: #ffff;
    font-size: 1rem;
    padding-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: solid 2px rgb(255, 174, 0);
}
.search-select{
    width: 51px;
    text-align: center;
    background-color: #F3F3F3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 174, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
/* box4 */
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box5 */
span{
    font-size: 0.75rem;
}
/*  box6*/
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    font-weight: bold;
}
.pannel{
    height: 40px;
    background-color: #020202;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pannel-ops p {
    display: inline;
    font-size: 0.85rem;
    padding-left: 5px;

}
.pannel-ops{
    width: 70%;
}
.pannel-deal{
    font-size: 1rem;
    font-weight: bold;
}
/* her0 section */
.hero{
    height: 300px;
    background-image: url("https://m.media-amazon.com/images/I/61CiqVTRBEL._SX3000_.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: self-end;
}
.hero-bar{
    height: 35px;
    width: 80%;
    background-color: white;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.hero-bar p a {
    color: rgb(78, 188, 188);
}
.shop-content{
    background-color: #cccc;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.shop-content a {
    color: rgb(78, 188, 188);
    text-decoration: none;
    font-size: 13px;
    padding-left: 10px;
}
.shop-content h2 {
    padding-left: 10px;
}
.box{
    height: 400px;
    width: 22%;
    background-color: white;
    padding: 20px 0px 15px;
}
.box1-img{
    height: 300px;
    background-position: center;
    background-size: cover;    
    margin: 15px;
}
.footer1{
    background-color: #020202;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: bold;
}
.footer2{
    display: flex;
    justify-content: space-evenly;
    background-color: #0f1111;
    height: 300px;   
}
ul {
    margin-top: 15px;
}
ul a {
    display: block;
    text-decoration: none;
    color:#dddddd;
    margin-top: 10px;
}
.footer3{
    height: 70px;
    background-color: #020202;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer4{
    height: 70px;
    background-color: #020202;
    color: #dddddd;
    text-align: center;
    font-size: 0.85rem;
}
.page a {
    color: #dddddd;
    text-decoration: none;
    padding-left: 10px;
}
.copyright{
    padding-top: 8px; 
}